.chartDiv {
    display: flex;
    justify-content: center;
    margin: auto;
    gap: 50px;
}

canvas {
    width: 400px !important;
    height: 400px !important;
}

.doughnut-chart-container {
    display: flex;
}
