input {
    width: 100%; /* 모든 input 요소의 너비를 통일 */
    padding: 8px;
    box-sizing: border-box; /* 패딩 포함하여 크기 유지 */
}

.checkId {
    display: flex;
    align-items: center;
    width: 100%;
    gap: 10px; /* 입력창과 버튼 간격 */
}

.checkId input {
    flex: 1; /* 입력창이 남은 공간 차지 */
}

#checkIdBtn {
    padding: 10px;
    font-size: 15px;
    color: #fff;
    background-color: #9dcfff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    width: 120px;
    white-space: nowrap;
    margin-bottom: 20px;
}

#check-result {
    text-align: left;
    margin-top: 5px;
}
