#show-userInfo, #updatePwd {
    display: none;
    margin-top: 50px;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

#foundUserId {
    margin-bottom: 20px;
}