html, body {
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

/*
    header
*/
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    border-bottom: 1px solid #eaeaea;
}

ul {
    text-decoration: none;
    color: black;
}

.logo {
    width: 150px;  /* 로고의 가로 크기를 고정 (원하는 크기로 조정 가능) */
    height: 50px;  /* 로고의 세로 크기 조정 */
    display: flex;
    align-items: center;  /* 이미지가 중앙 정렬되도록 설정 */
    cursor: pointer;
}

.logo img {
    width: 100%;
    height: 100%;
    object-fit: contain;  /* 이미지 비율 유지 */
}

.menu {
    width: 50%;
    display: flex;
    color: #b3b3b3;
    list-style: none;
    margin-right: auto;
}

.menu li {
    padding: 8px 12px;
    position: relative;
    width: 70px;
    text-align: center;
}

/* 드롭다운 메뉴 */
.submenu {
    display: none;
    position: absolute;
    top: 100%; /* view 메뉴 아래에 위치하도록 설정 */
    left: 0; /* view 메뉴와 왼쪽 정렬 */
    list-style: none;
    background-color: white; /* 배경 색 추가 */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); /* 그림자 추가 */
    padding: 0;
    margin: 0;
}

.menu li:hover > .submenu {
    display: block;
}

.submenu li:hover {
    background-color: #f0f0f0;
}

.links {
    width: 30%;
    list-style: none;
    color: #b3b3b3;
    display: flex;
    justify-content: flex-end;
}

.links li {
    padding: 8px 12px;
}

.menu li:hover,
.links li:hover {
    cursor: pointer;
    color: #3e3e3e;
    transition: background-color 0.3s ease, color 0.3s ease;
}

/*
    content
*/
.content {
    flex-grow: 1;
    min-height: 0;
    overflow: auto;
    display: flex;
    justify-content: center; /* 가로 중앙 정렬 */
    align-items: center;     /* 세로 중앙 정렬 */
    padding: 20px;
}

.introduction-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    width: 80%;
}

.introduction {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 30%;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    padding: 20px;
}

.introduction img {
    width: 125px;
    height: auto;
    display: block;
    margin: 0 auto;
}

/*
    footer
*/
footer {
    height: 10vh;
    min-height: 10vh;
    max-height: 15vh;
}

.footer-container {
    background: #d8d8d8;
    text-align: left;
    padding: 20px;
    font-size: 14px;
}

/*
    다이얼로그
*/
.dialog-overlay {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 998;
}

.dialog {
    display: none;
    position: absolute;
    background: white;
    border: 0.5px solid #ccc;
    padding: 20px;
    top: 50px;
    right: 80px;
    z-index: 999;
}

.dialog ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.dialog li {
    cursor: pointer;
    margin-bottom: 5px;
}

.dialog li:hover {
    background-color: #f0f0f0;
}

p {
    word-wrap: break-word;
    line-height: 1.6;
}