.month-select {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin: 15px;
}

#currentMonth {
    color: #b2ccff;
}

#prevBtn, #nextBtn {
    all: unset;
    width: 15px; /* 버튼 크기 */
    height: 15px;
    cursor: pointer;
}

#prevBtn::after {
    content: '';
    width: 15px;
    height: 15px;
    border-top: 5px solid #b2ccff;
    border-right: 5px solid #b2ccff;
    display: inline-block;
    transform: rotate(225deg); /* 각도 */
}

#nextBtn::after {
    content: '';
    width: 15px;
    height: 15px;
    border-top: 5px solid #b2ccff;
    border-right: 5px solid #b2ccff;
    display: inline-block;
    transform: rotate(45deg); /* 각도 */
}
