<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>월별 분석</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/monthSelect.css">
  <link rel="stylesheet" href="/css/analysis.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>
<body>
  <div th:replace="~{header :: header}"></div>
  <div th:replace="~{monthSelect :: monthSelect}"></div>
  <div class="chartDiv">
    <div class="incomeChart">
      <canvas id="income-pie-chart"></canvas>
      <br>
      <p class = "tag" style="color: green">수입</p>
    </div>

    <div class="expenseChart">
      <canvas id="expense-pie-chart"></canvas>
      <br>
      <p class="tag" style="color: red">지출</p>
    </div>

  </div>

  <div th:replace="~{user-dialog :: user-dialog}"></div>
  <div th:replace="~{user-dialog :: dialog-overlay}"></div>
  <div th:replace="~{footer :: footer}"></div>

  <script src="/javascript/map.js"></script>
  <script src="/javascript/monthSelect.js"></script>
  <script src="/javascript/analysis.js"></script>
</body>
</html>