<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <meta name="_csrf_header" th:content="${_csrf.headerName}">
  <meta name="_csrf" th:content="${_csrf.token}">
  <title>회원 가입</title>
  <link rel="stylesheet" href="/css/inputForm.css">
  <link rel="stylesheet" href="/css/create.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <form id="createAccountForm" class="inputForm">
      <h2>회원 가입</h2>
      <input type="text" id="name" placeholder="이름(2~20자 이내)" required>
      <input type="email" id="email" placeholder="이메일" required>

      <div class="checkId">
        <input type="text" id="id" placeholder="아이디(4~15자 이내)" required>
        <button id="checkIdBtn" type="button" onclick="checkId()">중복 확인</button>
      </div>

      <div class="valid-list">

      </div>
      <input type="password" id="pwd" placeholder="비밀번호" required>
      <input type="password" id="pwdCheck" placeholder="비밀번호 확인" required>

      <button type="submit">계정 생성</button>
    </form>
  <script src="/javascript/create.js"></script>
</body>
</html>