<nav class="header" th:fragment="header" xmlns:th="http://www.w3.org/1999/xhtml">
  <script th:inline="javascript">
    /*<![CDATA[*/
    var loggedIn = [[${loggedIn}]];
    var userName = [[${userName}]];
    /*]]>*/
  </script>

  <div class="logo">
    <img id="logo" src="/image/accountBook.png" width="100%" height="100%">
  </div>
  <ul class="menu">
    <li id="home">홈</li>
    <li id="post">추가하기</li>
    <li id="viewAll">전체 내역</li>
    <li id="viewMonthly">월별 내역</li>
    <li id="analysisMonthly">월별 분석</li>
  </ul>
  <ul class="links">
    <li id="create">회원 가입</li>
    <li id="userName" style="display:none;"></li>
    <li id="logIn">로그인</li>
    <li id="logout" style="display:none;">로그아웃</li>
    <li id="findId">아이디 찾기</li>
    <li id="findPwd">비밀번호 찾기</li>
  </ul>
</nav>