<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <meta charset="UTF-8">
    <title>가계부</title>
    <link rel="stylesheet" href="/css/home.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <div th:replace="~{header :: header}"></div>
    <div class="content"></div>
    <div class="footer"></div>
    <div th:replace="~{user-dialog :: user-dialog}"></div>
    <div th:replace="~{user-dialog :: dialog-overlay}"></div>
    <div th:replace="~{user-dialog :: withDrawModal}"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var loggedIn = [[${loggedIn}]];
            var userName = "[[${userName}]]";
            toggleDisplay(loggedIn, userName);
        });
    </script>

    <script src="/javascript/home.js"></script>
</body>
</html>