<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="_csrf_header" th:content="${_csrf.headerName}">
    <meta name="_csrf" th:content="${_csrf.token}">
    <title>거래 추가하기</title>
    <link rel="stylesheet" href="/css/home.css">
    <link rel="stylesheet" href="/css/posting.css">
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
    <script th:inline="javascript">
        /*<![CDATA[*/
        var userCode = [[${userCode}]];
        /*]]>*/
    </script>
</head>
<body>
    <div th:replace="~{header :: header}"></div>
    <form id="postForm">
        <div class="form-row">
            <div class="typeGroup">
                <input type="radio" id="income" name="type" value="INCOME">
                <label for="income" class="btn income">수입</label>
                <input type="radio" id="expense" name="type" value="EXPENSE" checked>
                <label for="expense" class="btn expense">지출</label>
            </div>
        </div>

        <div class="form-row">
            <label for="category">카테고리: </label>
            <select id="category" name="category">
            </select>
        </div>
        <div class="form-row">
            <label for="amount">금액: </label>
            <input type="number" id="amount" name="amount" min="0" placeholder="금액">
        </div>

        <div class="form-row">
            <label for="description">메모: </label>
            <input type="text" id="description" placeholder="메모">
        </div>

        <div class="form-row">
            <label for="calendar">날짜 선택: </label>
            <input id="calendar" type="date">
        </div>

        <div class="submitBtn">
            <input type="submit" value="완료">
        </div>
    </form>

    <div th:replace="~{user-dialog :: user-dialog}"></div>
    <div th:replace="~{user-dialog :: dialog-overlay}"></div>
    <div th:replace="~{user-dialog :: withDrawModal}"></div>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var loggedIn = [[${loggedIn}]];
            var userName = "[[${userName}]]";
            toggleDisplay(loggedIn, userName);
        });

    </script>

    <script src="/javascript/home.js"></script>
    <script src="/javascript/categories.js">    </script>
    <script src="/javascript/posting.js"></script>
</body>
</html>