<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="UTF-8">
  <title>전체 내역</title>
  <link rel="stylesheet" href="/css/home.css">
  <link rel="stylesheet" href="/css/view.css">
  <script src="https://code.jquery.com/jquery-3.7.1.min.js"></script>
</head>
<body>
<div th:replace="~{header :: header}"></div>

<div class="content">
  <!-- 가계부 내역 목록 -->
  <table id="accountingTable">
    <thead>
    <tr>
      <th>날짜</th>
      <th>구분</th>
      <th>카테고리</th>
      <th>금액</th>
      <th>메모</th>
    </tr>
    </thead>

    <tbody id="breakDown"></tbody>
  </table>

  <!-- 로딩 아이콘 -->
  <div class="loading">로딩 중...</div>
</div>

<div class="footer"></div>
<div th:replace="~{user-dialog :: user-dialog}"></div>
<div th:replace="~{user-dialog :: dialog-overlay}"></div>
<div th:replace="~{user-dialog :: withDrawModal}"></div>

<script>
  document.addEventListener("DOMContentLoaded", function () {
      var loggedIn = [[${loggedIn}]];
      var userName = "[[${userName}]]";
      toggleDisplay(loggedIn, userName);
  });

  $(document).ready(function() {
      loadMoreData();
      $(".content").scroll(function() {
          if ($(".content").scrollTop() + $(".content").height() >= $(".content").height() - 50) {
              loadMoreData();
          }
      });
  });

  let page = 0;
  let isLoading = false;
  const userCode = /*[[${userCode}]]*/ null;

  function loadMoreData() {
      if (isLoading) return;
      isLoading = true;
      $(".loading").show();

      $.ajax({
          url: `/accounting/getMore?page=${page}&size=20`,
          method: "GET",
          success: function(data) {
              if (data.content.length > 0) {
                  const typeMap = {
                      "INCOME" : "수입",
                      "EXPENSE" : "지출"
                  }

                  const categoryMap = {
                      "SALARY" : "월급",
                      "ALLOWANCE" : "용돈",
                      "INTEREST" : "이자",
                      "SHOPPING" : "쇼핑",
                      "FOOD" : "식비",
                      "PHONE" : "통신비",
                      "TRANSPORT" : "교통비",
                      "CAFE" : "카페, 간식",
                      "TRAVEL" : "여행",
                      "HEALTH" : "건강",
                      "EDUCATION" : "교육",
                      "INSURANCE" : "보험",
                      "OTHER" : "기타"
                  }

                  data.content.forEach(accounting => {
                      $("#breakDown").append(`
                          <tr>
                              <td>${accounting.date}</td>
                              <td>${typeMap[accounting.type] || accounting.type}</td>
                              <td>${categoryMap[accounting.category] || accounting.category}</td>
                              <td>${accounting.amount.toLocaleString('ko-KR', { style: 'currency', currency: 'KRW'})}</td>
                              <td>${accounting.description}</td>
                          </tr>
                      `);
                  });

                  page++;
                  // 20개 이하일 때 isLoading을 false로 설정
                  if (data.content.length < 20) {
                      isLoading = false;
                      $(".loading").hide();
                  }
              } else {
                  $(".loading").hide();
              }
          }
      });
  }

</script>

<script src="/javascript/home.js"></script>
</body>
</html>
